---
import EmpleadosSVG from '../assets/empleados.svg';
import ServiciosSVG from '../assets/servicios.svg';
import VentasSVG from '../assets/ventas.svg';
import ReportesSVG from '../assets/reportes.svg';
import RecordatoriosSVG from '../assets/recordatorios.svg';
import TratamientosSVG from '../assets/tratamientos.svg';
---

<nav>
    <ul>
        <li class="container-logo">
            <img src="/logo.png" alt="logo" width="60" height="60" />
        </li>
        <li>
            <a href="/empleados" class="menu-link">
                <span class="icon-box"><EmpleadosSVG width={60} height={60} /></span>
                <span class="menu-text">Empleados</span>
            </a>
        </li>
        <li>
            <a href="/servicios" class="menu-link">
                <span class="icon-box"><ServiciosSVG width={60} height={60} /></span>
                <span class="menu-text">Servicios</span>
            </a>
        </li>
        <li>
            <a href="/ventas" class="menu-link">
                <span class="icon-box"><VentasSVG width={60} height={60} /></span>
                <span class="menu-text">Ventas</span>
            </a>
        </li>
        <li>
            <a href="/reportes" class="menu-link">
                <span class="icon-box"><ReportesSVG width={60} height={60} /></span>
                <span class="menu-text">Facturas</span>
            </a>
        </li>
        <li>
            <a href="/reservas" class="menu-link">
                <span class="icon-box"><RecordatoriosSVG width={60} height={60} /></span>
                <span class="menu-text">Agenda</span>
            </a>
        </li>
        <li>
            <a href="/paquetesMariana" class="menu-link">
                <span class="icon-box"><TratamientosSVG width={54} height={54} /></span>
                <span class="menu-text">Paquetes</span>
            </a>
        </li>
    </ul>
</nav>

<style>
    nav{
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 30px;

        margin-left: 20%;
        margin-right: 20%;
        padding: 2rem 1rem;

        backdrop-filter: blur(8px);
        border-radius: 12px;
        box-shadow: inset 10px 10px 80px white;
    }

    ul{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: .8rem;
        list-style: none;
    }

    .container-logo{
        margin-right: 2.3rem;
        transform: translateY(10px);

    }

    li{
        margin-right: 1rem;

    }

    .menu-link{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 72px;
        min-height: 82px;

        &:hover .menu-text{
            color: #DDB57F;
            transition: all .25s ease-in-out;
        }
    }

    .icon-box{
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }

    .icon-box :global(svg){
        display: block;
        max-width: 100%;
        max-height: 100%;
    }

    .menu-text{
        margin-top: 6px;
        font-size: .7rem;
        line-height: 1;
        font-weight: 600;
        color: #4D4D4D;
    }

    @media (max-width: 768px) {
        nav{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 0;
            margin-bottom: 0;
            padding: 1rem;
            backdrop-filter: none;
            box-shadow: none;
        }
    }



</style>